<section class="course">
    <div class="container">
      <h1 class="text-center">Objetos Encontrados</h1>
  <input type="text"  placeholder="Buscar...">
  <br>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" ><i class="fas fa-search"></i>Todo</button>
    <button type="button" class="btn btn-primary" ><i class="fas fa-search"></i>CUADERNOS</button>
    <button type="button" class="btn btn-primary" ><i class="fas fa-search"></i>LAPICES</button>
    <button type="button" class="btn btn-primary" ><i class="fas fa-search"></i>BOLIGRAFOS</button>
    <button type="button" class="btn btn-primary" ><i class="fas fa-search"></i>GOMAS</button>
    <button type="button" class="btn btn-primary" ><i class="fas fa-search"></i>MOCHILAS</button>
    <button type="button" class="btn btn-primary" ><i class="fas fa-search"></i>CELULARES</button>
    <button type="button" class="btn btn-primary" ><i class="fas fa-search"></i>CREDENCIALES</button>
    <button type="button" class="btn btn-primary" ><i class="fas fa-search"></i>OTROS</button>
  </div>

  <br>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
          <!-- Tarjeta 1 -->
          <div class="col mb-4">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/fondos/rojo4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a data-bs-toggle="modal" data-bs-target="#exampleModal"  class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <!-- Tarjeta 2 -->
          <div class="col mb-4">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/fondos/rojo4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <!-- Tarjeta 3 -->
          <div class="col mb-4">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/fondos/rojo4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <!-- Tarjeta 4 -->
          <div class="col mb-4">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/fondos/rojo4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <!-- Tarjeta 5 -->
          <div class="col mb-4">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/fondos/rojo1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <!-- Tarjeta 6 -->
          <div class="col mb-4">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/fondos/rojo2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/fondos/rojo3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card" style="width: 18rem;">
              <img src="../../assets/fondos/rojo8.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      

    </div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
  </section>
  


  