
  <body>
    

  <div class="joinnow container  justify-content-center align-items-center">
    <h1 class="card-header text-center ">Registrar Objeto Perdido o Encontrado</h1>
    <div class="w-100 w-md-75 w-lg-50 mt-5">
      <div class="card-body">
        <form>
          <div class="form-group row mb-4">
            <label for="name" class="col-sm-3 col-form-label">Nombre del objeto</label>
            <div class="col-sm-9">
              <input type="text" id="name" name="name" class="form-control" required>
            </div>
          </div>
          <div class="form-group row mb-4">
            <label for="category" class="col-sm-3 col-form-label">Categoría del objeto</label>
            <div class="col-sm-9">
              <select id="category" name="category" class="form-control" required>
                <option value="">--Seleccione una opción--</option>
                <option value="perdido">Perdido</option>
                <option value="encontrado">Encontrado</option>
              </select>
            </div>
          </div>
          <div class="form-group  row mb-4">
            <label  class="col-sm-3 col-form-label" for="description">Descripción del objeto</label>
            <div class="col-sm-9">
            <textarea id="description" name="description" class="form-control" rows="3" required></textarea>
          </div>
          </div>  
          <div class="form-group row mb-4">
            <label for="location" class="col-sm-3 col-form-label">Ubicación donde se perdió o encontró el objeto</label>
            <div class="col-sm-9">
              <input type="text" id="location" name="location" class="form-control" required>
            </div>
          </div>
          <div class="form-group row mb-4">
            <label for="date" class="col-sm-3 col-form-label">Fecha en que se perdió o encontró el objeto</label>
            <div class="col-sm-9">
              <input type="date" id="date" name="date" class="form-control" required>
            </div>
          </div>
          <div class="form-group row mb-4">
            <label for="image" class="col-sm-3 col-form-label">Foto del objeto</label>
            <div class="col-sm-9">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="image" name="image" accept="image/*">
                <label class="custom-file-label" for="image">Seleccione una imagen</label>
              </div>
            </div>
          </div>
          <div class="image-result-container mb-4">
            <div class="row">
              <div class="col">
                <img class="img-fluid resultado-imagen">
              </div>
              <div class="col mt-2 ml-2">
                <p>Objeto detectado: </p>
                <p>Confianza: </p>
              </div>
            </div>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>


<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Objeto Perdido o Encontrado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .image-result-container {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 15px;
            width: 300px; /* Ajusta el ancho según sea necesario */
            margin-left: 20px; /* Espacio entre el formulario y el recuadro */
        }
        .resultado-imagen {
            display: none; /* Oculta la imagen inicialmente */
            max-width: 100%;
            border: 1px solid #ddd; /* Estilo del borde */
            margin-bottom: 10px; /* Espacio debajo de la imagen */
        }
    </style>
</head>
<body>
    <div class="joinnow container justify-content-center align-items-center">
        <h1 class="card-header text-center">Registrar Objeto Perdido o Encontrado</h1>
        <div class="w-100 w-md-75 w-lg-50 mt-5">
            <div class="card-body">
                <form class="d-flex">
                    <div class="flex-grow-1">
                        <div class="form-group row mb-4">
                            <label for="name" class="col-sm-3 col-form-label">Nombre del objeto</label>
                            <div class="col-sm-9">
                                <input type="text" id="name" name="name" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label for="category" class="col-sm-3 col-form-label">Categoría del objeto</label>
                            <div class="col-sm-9">
                                <select id="category" name="category" class="form-control" required>
                                    <option value="">--Seleccione una opción--</option>
                                    <option value="perdido">Perdido</option>
                                    <option value="encontrado">Encontrado</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label class="col-sm-3 col-form-label" for="description">Descripción del objeto</label>
                            <div class="col-sm-9">
                                <textarea id="description" name="description" class="form-control" rows="3" required></textarea>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label for="location" class="col-sm-3 col-form-label">Ubicación donde se perdió o encontró el objeto</label>
                            <div class="col-sm-9">
                                <input type="text" id="location" name="location" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label for="date" class="col-sm-3 col-form-label">Fecha en que se perdió o encontró el objeto</label>
                            <div class="col-sm-9">
                                <input type="date" id="date" name="date" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label for="image" class="col-sm-3 col-form-label">Foto del objeto</label>
                            <div class="col-sm-9">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="image" name="image" accept="image/*">
                                    <label class="custom-file-label" for="image">Seleccione una imagen</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                    </div>
                    
         
                    <div>
                        <div class="image-result-container">
                            <h5 class="text-center">Vista Previa de la Imagen</h5>
                            <img class="img-fluid resultado-imagen" id="resultado-imagen">
                            <div class="mt-2">
                                <p>Objeto detectado: <span id="detected-object">Ejemplo de objeto</span></p>
                                <p>Confianza: <span id="confidence-level">90%</span></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html> -->
