.router-outlet-texto {
    white-space: nowrap;
    padding-top: 20px;
  }
  
  .navbar {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .navbar-brand, .nav-link {
    color: #ffffff !important;
    font-weight: 600;
  }
  
  .navbar-brand:hover, .nav-link:hover {
    color: #ffdd57 !important;
  }
  
  footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 10px 0;
  }
  