<section class="joinnow">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card-deck">
          <div class="card border">
            <div class="card-body">

              <h2 class="card-title text-center mb-4">Bienvenido</h2>
              <div class="d-flex justify-content-around mb-4">
                <button type="button" class="btn btn-primary btn-lg" (click)="showLoginForm()" [class.active]="isLoginActive">Iniciar sesión</button>
                <button type="button" class="btn btn-danger btn-lg" (click)="showRegisterForm()" [class.active]="isRegisterActive">Registrarse</button>
              </div>

              <form *ngIf="isLoginFormVisible" (ngSubmit)="onLogin()">
                <div class="form-group">
                  <label for="email-login">Correo electrónico</label>
                  <input type="email" class="form-control" id="email-login" required>
                </div>
                <div class="form-group">
                  <label for="password-login">Contraseña</label>
                  <input type="password" class="form-control" id="password-login" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-4">Ingresar</button>
                <div class="forgot-password-link text-center">
                  <a href="/">¿Olvidaste tu contraseña?</a>
                </div>
              </form>

              <form *ngIf="isRegisterFormVisible" (ngSubmit)="onRegister()">
                <div class="form-row">
                  <div class="form-group ">
                    <label for="first-name">Nombre</label>
                    <input type="text" class="form-control" id="first-name" required>
                  </div>
                  <div class="form-group ">
                    <label for="last-name">Apellido</label>
                    <input type="text" class="form-control" id="last-name" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="email-register">Correo electrónico</label>
                  <input type="email" class="form-control" id="email-register" required>
                </div>
                <div class="form-group">
                  <label for="password-register">Contraseña</label>
                  <input type="password" class="form-control" id="password-register" required>
                </div>
                <div class="form-group">
                  <label for="confirm-password">Confirmar contraseña</label>
                  <input type="password" class="form-control" id="confirm-password" required>
                </div>
                <div class="form-group">
                  <label for="phone-number">Teléfono</label>
                  <input type="tel" class="form-control" id="phone-number" required>
                </div>
                <div class="form-group">
                  <label for="address">gmail</label>
                  <input type="text" class="form-control" id="address" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-4">Registrarse</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- 


<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label">Username</label>
					<input id="user" type="text" class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span> Keep me Signed in</label>
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign In">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="#forgot">Forgot Password?</a>
				</div>
			</div>
			<div class="sign-up-htm">
				<div class="group">
					<label for="user" class="label">Username</label>
					<input id="user" type="text" class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<label for="pass" class="label">Repeat Password</label>
					<input id="pass" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<label for="pass" class="label">Email Address</label>
					<input id="pass" type="text" class="input">
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign Up">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<label for="tab-1">Already Member?</label>
				</div>
			</div>
		</div>
	</div>
</div>

 -->
