<body>
  <section class="joinnow">
    <h1 class="text-center ">Bienvenido</h1>
    <div class="container py-3">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card shadow-lg border rounded-3">
            <div class="card-body">
              <br>
              <div class="d-flex justify-content-around mb-4">
                <button type="button" class="btn btn-primary btn-lg" (click)="showLoginForm()" [class.active]="isLoginActive">
                  <i class="fas fa-sign-in-alt"></i> Iniciar sesión
                </button>
                <button type="button" class="btn btn-danger btn-lg" (click)="showRegisterForm()" [class.active]="isRegisterActive">
                  <i class="fas fa-user-plus"></i> Registrarse
                </button>
              </div>

              <!-- Login Form -->
              <form *ngIf="isLoginFormVisible" (ngSubmit)="onLogin()">
                <div class="form-group mb-3">
                  <label for="email-login">Correo electrónico</label>
                  <input type="email" class="form-control form-control-lg" id="email-login" required placeholder="Ingrese su correo">
                </div>
                <div class="form-group mb-3">
                  <label for="password-login">Contraseña</label>
                  <input type="password" class="form-control form-control-lg" id="password-login" required placeholder="Ingrese su contraseña">
                </div>
                <button type="submit" class="btn btn-primary btn-block w-100 mt-3">
                  <i class="fas fa-sign-in-alt"></i> Ingresar
                </button>
                <div class="forgot-password-link text-center mt-3">
                  <a href="/" class="texto">¿Olvidaste tu contraseña?</a>
                </div>
              </form>

              <!-- Register Form -->
              <form *ngIf="isRegisterFormVisible" (ngSubmit)="onRegister()">
                <div class="form-row mb-3">
                  <div class="form-group mb-3">
                    <label for="first-name">Nombre</label>
                    <input type="text" class="form-control form-control-lg" id="first-name" required placeholder="Ingrese su nombre">
                  </div>
                  <div class="form-group mb-3">
                    <label for="last-name">Apellido</label>
                    <input type="text" class="form-control form-control-lg" id="last-name" required placeholder="Ingrese su apellido">
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="email-register">Correo electrónico</label>
                  <input type="email" class="form-control form-control-lg" id="email-register" required placeholder="Ingrese su correo">
                </div>
                <div class="form-group mb-3">
                  <label for="password-register">Contraseña</label>
                  <input type="password" class="form-control form-control-lg" id="password-register" required placeholder="Ingrese su contraseña">
                </div>
                <div class="form-group mb-3">
                  <label for="confirm-password">Confirmar contraseña</label>
                  <input type="password" class="form-control form-control-lg" id="confirm-password" required placeholder="Confirme su contraseña">
                </div>
                <div class="form-group mb-3">
                  <label for="phone-number">Teléfono</label>
                  <input type="tel" class="form-control form-control-lg" id="phone-number" required placeholder="Ingrese su teléfono">
                </div>
                <div class="form-group mb-3">
                  <label for="address">Gmail</label>
                  <input type="text" class="form-control form-control-lg" id="address" required placeholder="Ingrese su Gmail">
                </div>
                <button type="submit" class="btn btn-danger btn-block w-100 mt-3">
                  <i class="fas fa-user-plus"></i> Registrarse
                </button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
