<section class="home">
  <div class="overlay"></div>
  <div class="homecontent">
    <h1 class="title">Unidad Educativa 25 de Mayo</h1>
    <p class="subtitle">Donde el futuro comienza hoy</p>
    <div class="buttons">
      <!-- <a routerLink="registrar-objetos" class="btn btn-lg btn-primary">Registrar objeto</a>
      <a routerLink="login" class="btn btn-lg btn-outline-light">Ingresar</a> -->
      <a routerLink="login" class="btn btn-lg btn-outline-light">Ingresar</a>
      <a routerLink="registrar-objetos" class="btn btn-lg btn-outline-light">Registrar objeto</a>
    </div>
  </div>
</section>
